<div id="details-view">
    <div class="main-view">
        <h2>{{host.name}} <small id="host-company">({{host.user.company_name}})</small>
            <span ng-if="isUserHostOwner()">
                <button class="pull-right btn btn-danger"><i class="fa fa-trash-o"></i> Remove</button>
                <button class="pull-right btn btn-info" data-toggle="modal" data-target="#newBountyModal"><i class="fa fa-dollar"></i> Add Bounty</button>
            </span>
            <button class="pull-right btn"><i class="fa fa-thumbs-o-up"></i> Like</button></h2>
        <h4 id="host-description"><small>{{host.description}}</small></h4>
    </div>

    <div>
        <p>
            Bla bla bla
        </p>
        <div id="bounties" class="pull-right">
            <table class="table table-hover">
                <!-- Bounties -->
                <tr>
                    <th>Type</th>
                    <th>Bounty</th>
                    <th>Completed</th>
                </tr>
                <tr>
                    <td>Code Execution</td>
                    <td>5,000,000$</td>
                    <td><button class="btn btn-success" data-toggle="modal" data-target="#submissionModal"><i class="fa fa-bolt"></i> Submit</button></td>
                </tr>
                <tr>
                    <td>XSS</td>
                    <td>3.50$</td>
                    <td><button class="btn btn-success"><i class="fa fa-bolt"></i> Submit</button></td>
                </tr>
            </table>
        </div>
    </div>
 </div>


<div class="modal fade" id="submissionModal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modal-title">Submit Exploit</h4>
      </div>
      <div class="modal-body">
          <table class="table exploit-details">
                <tr>
                    <th>Exploit Type</th>
                    <td>{{bounty.type}}</td>
                </tr>
                <tr>
                    <th>Given Bounty</th>
                    <td>{{bounty.amount}}</td>
                </tr>
          </table>
          <form role="form">
              <div class="form-group">
                 <label for="description">Description</label>
                <textarea class="form-control" placeholder="Describe your exploit in modest detail" id="description" ng-model="description" required/>
              </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="newBountyModal" tabindex="-1" role="dialog" aria-labelledby="bounty-modal-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="bounty-modal-title">Upload New Bounty</h4>
      </div>
      <div class="modal-body">
          <form role="form">
              <div class="form-group">
                  <label>Bounty Type</label>
                  <select class="form-control" model="bounty-type">
                        <option>Code Execution</option>
                        <option>XSS</option>
                        <option>File Access</option>
                        <option>Bug</option>
                  </select>
              </div>
              <div class="form-group">
                    <label>Bounty amount</label>
                    <input type="number" model="bounty-amount" placeholder="5.00"/>
              </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>