<div class="main-view">
    <h1><i class="fa fa-user"></i> {{user.name}}</h1>

    <div class="panel panel-info">
        <div class="panel-body">Statistics</div>
        <div class="panel-footer">
            <strong>Exploits accepted:</strong> 0<br/>
            <strong>Funds spent:</strong> $0.00
        </div>
    </div>

    <div>
        <h2><i class="fa fa-gavel"></i> Submissions For Approval</h2>
        <div ng-if="submittedExploits.length == 0" class="well">
            No new exploit submissions.
        </div>
        <ul class="list-group">
             <li class="list-group-item host-line exploit-line"
                 ng-click=""
                 ng-repeat="exploit in submittedExploits">
                 <span>
                 <strong>{{exploit.bounty.type}} submission</strong> ({{exploit.description}}) <span class="badge">{{exploit.status|uppercase}}</span>
                </span>
                    <span class="actions-span">
                 <form name="_xclick" action="https://www.paypal.com/us/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_xclick">
                    <input type="hidden" name="business" value="kimimarosan@gmail.com">
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="hidden" name="item_name" value="PanTest payment">
                    <input type="hidden" name="amount" value="{{exploit.bounty.amount}}">
                    <!--<button class="btn btn-default pull-right btn-sm pay-button"><i class="bf-paypal"></i> Pay & Close</button>-->
                    <input class="pay-now-button pull-right pay-button" type="image" src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_paynow_86x21.png" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
                </form>
                 <button class="btn btn-info pull-right btn-sm pay-button"><i class="fa fa-envelope-o"></i> Contact</button>
                 <button class="btn btn-danger pull-right btn-sm pay-button" ng-click="rejectExploit(exploit.id)"><i class="fa fa-ban"></i> Reject</button>

                 <span class="amount-span pull-right"><i class="fa fa-dollar"></i> {{exploit.bounty.amount}}</span>
                  </span>
             </li>
        </ul>
    </div>

    <div>
        <h2><i class="fa fa-globe"></i> Hosts</h2>
        <ul class="list-group">
             <li class="list-group-item host-line" ng-repeat="host in hosts.all|filter:{user_id: user.id}" ng-click="goToHost(host.id)">
                 <i class="fa fa-globe"></i> <strong>{{host.name}}</strong> ({{host.url}})
             </li>
        </ul>
        <button class="btn btn-warning" data-toggle="modal" data-target="#newHostModal"><i class="fa fa-plus"></i> Add Host</button>
    </div>

    <div>
        <h2><i class="fa fa-users"></i> My Company</h2>
        <div class="well">
            No other users in your company, perhaps <a href="">invite</a> some?
        </div>
    </div>
</div>

<div ng-include="'/static/html/new-host-modal.html'"/>