<div class="main-view">
    <h1><i class="fa fa-user"></i> {{user.name}}</h1>

    <div class="panel panel-info">
        <div class="panel-body">Statistics</div>
        <div class="panel-footer">
            Exploits accepted: 5<br/>
            Funds spent: 1$
        </div>
    </div>

    <div>
        <h2><i class="fa fa-gavel"></i> Exploit Submissions</h2>
        <div ng-if="!userExploitSubmissions" class="well">
            No new exploit submissions.
        </div>
        <ul class="list-group">
             <li class="list-group-item host-line"
                 ng-click=""
                 ng-repeat="exploit in userExploitSubmissions">{{host.name}}</li>
        </ul>
    </div>

    <div>
        <h2><i class="fa fa-globe"></i> Hosts</h2>
        <ul class="list-group">
             <li class="list-group-item host-line" ng-repeat="host in userHosts">{{host.name}}</li>
        </ul>
        <button class="btn btn-warning" data-toggle="modal" data-target="#newHostModal"><i class="fa fa-plus"></i> Add Host</button>
    </div>

    <div>
        <h2><i class="fa fa-users"></i> My Company</h2>
        <div class="well">
            No other users in your company, perhaps <a href="">invite</a> some?
        </div>
    </div>
</div>

<div ng-include="'/static/html/new-host-modal.html'"/>

